blinker==1.7.0
click==8.1.7
colorama==0.4.6
Flask==3.0.2
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.5
mysql-connector-python==8.4.0
pdfkit==1.0.0
Werkzeug==3.0.2
server {
    listen 80;
    server_name 192.168.1.7;  # Cambia esto a tu dirección IP o nombre de dominio

    root /var/www/iredadmin;
    index index.html index.htm index.php;

    location / {
        try_files $uri $uri/ =404;
    }

    location /iredadmin {
        alias /usr/share/iredadmin;
        index index.py;
        include /etc/nginx/uwsgi_params;
        uwsgi_pass 127.0.0.1:7791;
    }

    location ~ \.py$ {
        include /etc/nginx/uwsgi_params;
        uwsgi_pass 127.0.0.1:7791;
    }
}
sudo ln -s /etc/nginx/sites-available/iredadmin.conf /etc/nginx/sites-enabled/

