
/*Index principal-booostrap*/
.btn {
width:150px;
height:50px;
}
/* Establece la altura al 100% de la altura de la ventana del navegador */
.full-height {
    height: 100vh; 
}
/*boton inicio */
.btn-inicio {
    position: absolute;
    bottom: 10px; /* Ajusta el valor según sea necesario */
    right:10px; /* Ajusta el valor según sea necesario */
}
/*Titulo tienda liria*/
h1 {
    font-size: 5em; /* Tamaño de fuente grande */
    font-weight: bold; /* Negrita */
    font-family: 'Boogaloo', cursive; /* Tipo de letra */
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    color: rgb(0, 7, 85);
   /*  height: 100vh; Altura igual a la altura de la pantalla */
}
/* Estilos para informe_venta.html */
.fondo{
    background-image:url(/fondo-1.jpg);
    height: 50vh;

}

