<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Liria</title>
    <link rel="stylesheet" href="static/css/categoria.css">
</head>
<body>
    <header>
        <nav>
            <a href="#" class="logo">Tienda Liria</a>
            <form action="#">
                <input type="text" placeholder="Buscar producto">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </nav>
    </header>

    <main>
        <aside>
            <h2>Categorías</h2>
            <ul>
                <li><a href="#">Alimentación</a></li>
                <li><a href="#">Hogar</a></li>
                <li><a href="#">Cuidado Personal</a></li>
                <li><a href="#">Papelería</a></li>
                <li><a href="#">Mecatos</a></li>
                <li><a href="#">Otros</a></li>
            </ul>
        </aside>

        <section>
            <h2>Productos Destacados</h2>
            <div class="producto">
                <img src="img (2).jpg" alt="Producto 1" style="width: 200px; height: 200px;">
                <h3>Arroz Diana</h3>
                <p>$ 4100</p>
                <button class="agregar">Agregar Producto</button>
            </div>

            

            </section>
    </main>

    

    <script src="script.js"></script>
</body>
</html>
