<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Liria</title>
    <link rel="stylesheet" href="static/css/categoria.css">
</head>
<body>
    <header>
        <nav>
            <a href="#" class="logo">Tienda Liria</a>
            <form action="#">
            </form>
        </nav>
    </header>

    <main>
        <aside>
            <h2>Categorías</h2>
            <ul>
                <li><a href="/alimentacion">Alimentación</a></li>
                <li><a href="/hogar">Hogar</a></li>
                <li><a href="/cuidadopersonal">Cuidado Personal</a></li>
                <li><a href="/papeleria">Papelería</a></li>
                <li><a href="/mecato">Mecatos</a></li>
                <li><a href="/otros">Otros</a></li>
            </ul>
        </aside>

        <section>
            <h2>Productos Destacados</h2>
            {% if producto %}
            <div class="producto">
                <img src="data:image/jpeg;base64,{{ producto[2] }}" alt="{{ producto[0] }}" style="width: 200px; height: 200px;">
                <h3>{{ producto[0] }}</h3>
                <p>${{ producto[1] }}</p>
                <a href="/guardarproducto"><button type="submit">Agregar Producto</button></a>
            </div>
            {% else %}
            <p>No hay productos disponibles.</p>
            {% endif %}
        </section>
    </main>

    <script src="script.js"></script>
</body>
</html>
