<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte Diario de Ventas</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <style>
        body {
            background-image: url('/static/images/paper-color.png');
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}  
    <div class="container">
        <h1>Reporte Diario de Ventas</h1>
        <table class="table table-color">
            <thead class="table-dark">
                <tr>
                    <th>Día</th>
                    <th>Ventas</th>
                </tr>
            </thead>
            <tbody>
                {% for venta in ventas %}
                <tr>
                    <td><a href="dia_semana?dia={{ venta[0] }}">{{ venta[0] }}</a></td>
                    <td>${{ venta[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td>${{ ventas | sum(attribute=1) }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="btn-atras">
        <a href="/informes_venta"><button class="btn btn-secondary btn-lg">Atrás</button></a>
        <a href="/download_recibo?tipo=dia"><button class="btn btn-primary btn-lg">Descargar Recibo</button></a>

    </div>
</body>
</html>
