<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Ventas del Día</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <style>
        body {
            background-image: url('/static/images/paper-color.png');
            background-size: cover;
            background-position: center;
            z-index: 0;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1>Detalle de Ventas del Día: {{ dia }}</h1>
        <table class="table my-5">
            <thead class="table-dark">
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for venta in ventas %}
                <tr>
                    <td>{{ venta[0] }}</td>
                    <td>{{ venta[1] }}</td>
                    <td>${{ venta[2] }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2">Total General:</td>
                    <td>${{ ventas | sum(attribute=2) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="btn-atras text-center">
        <a href="/"><button class="btn btn-outline-light">Atrás</button></a>

    </div>
</body>
</html>
