<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Liria</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Bienvenido a Tienda Liria</h1>
        <div class="buttons">
            <button class="btn">Inicio</button>
            <button class="btn">Informes</button>
            <button class="btn">Proveedores</button>
            <button class="btn">Clientes</button>
        </div>
    </div>
</body>
</html>
