<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tienda Liria</title>
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/styles.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">-->
        <style>
            body {
                background-image: url('/static/images/m.jpg');
                background-size: cover; /* Para que la imagen de fondo cubra toda la pantalla */
                background-position: center; /* Para centrar la imagen de fondo */
            }
        </style>
    </head>
    <body>     
        <div class="container-fluid full-height">
            <div class="row h-100">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 h-100 d-flex flex-column justify-content-center">
                    <div class="row py-5">
                        <div class="mb-3 d-flex justify-content-center">
                            <a href="/proveedores"><button type="button" class="btn btn-light btn-lg">proveedores</button></a>
                        </div>
                    </div>
                    <div class="row py-5">
                        <div class="col-md-12 d-flex justify-content-center">
                            <a href="/informes_venta"><button type="button" class="btn btn-light btn-lg">Informes</button></a>
                        </div>
                    </div>  
                    <div class="row py-5">
                        <div class="col-md-12 d-flex justify-content-center">
                            <a href="/deudores"><button type="button" class="btn btn-light btn-lg">deudores</button></a>
                        </div>
                    </div>    
                    <div class="row py-5">
                        <div class="col-md-12 d-flex justify-content-center">
                            <a href="/categoria"><button type="button" class="btn btn-light btn-lg">categoria</button></a>
                           
                        </div>
                    </div>                                        
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="row d-flex align-items-center justify-content-center" style="height: 100vh;">
                        <div class="text-center">
                            <h2 class="mx-auto mb-0">Tienda Liria</h2>
                            <div class="mx-auto mt-3" style="max-width: 1000px;"> <!-- Contenedor de la imagen -->
                                <img src="/static/images/logo.webp" class="rounded img-fluid" alt="Imagen Uno"> <!-- Ajustar la imagen con clase img-fluid -->
                            </div>  
                        </div>
                    </div>
                </div>                                
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-left">
                    <div class="row py-5">                      
                        <div class="mb-3 d-flex justify-content-center">
                            <a href="/iniciar"><button type="button" class="btn btn-secondary btn-lg btn-inicio">Inicio</button></a>                          
                        </div>
                    </div>
                </div>  
            </div> 
        </div>       
    </body>
</html>


