<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informe de Ventas</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Generar Informe de Ventas</h1>
        <div class="buttons">
            <a href="/dia"><button class="btn">Día</button></a>
            <a href="/mes"><button class="btn">Mes</button></a>
            <a href="/año"><button class="btn">Año</button></a>
        </div>
    </div>
</body>
</html>
