<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <style>
        body {
            background-image: url('/static/images/fondo-2.jpg');
            /* Ajusta el tamaño y la posición de la imagen de fondo según sea necesario */
            background-size: cover;
            background-position: center;
            /* Asegúrate de que el contenido esté por encima del fondo */
            z-index: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <table class="table my-5">
            <thead class="table-dark">
                <tr><!--fila -->
                    <th>Nombre del producto</th><!--celdas de encabezado  -->
                    <th>cantidad</th>
                    <th>Precio Unitario + IVA</th>
                    <th>Precio Total</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>Juan</td><!--celdas-->
                <td>25</td>
                <td>Madrid</td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 h-100 d-flex flex-column justify-content-center">
                <h2>holi</h2>
            </div>
            <div class="col-sm-2 col-md-4 col-lg-4 col-xl-4 h-100 d-flex flex-column justify-content-center">
                <h2>holi</h2>
            </div>
            <div class="col-sm-2 col-md-4 col-lg-4 col-xl-4 h-100 d-flex flex-column justify-content-center">
                <h2>holi</h2>
            </div>
            <div class="col-sm-2 col-md-4 col-lg-4 col-xl-4 h-100 d-flex flex-column justify-content-center">
                <h2>holi</h2>
            </div>
            <div class="col-sm-2 col-md-4 col-lg-4 col-xl-4 h-100 d-flex flex-column justify-content-center">
                <h2>holi</h2>
            </div>            
        </div>
        <table class="table">
            <thead class="table-dark">
                <tr><!--fila -->
                    <th>busqueda</th><!--celdas de encabezado  -->
                    <th>lupa</th>
 
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>