<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte Mensual de Ventas</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <style>
        body {
            background-image: url('/static/images/paper-color.png');
            background-size: cover; /* Para que la imagen de fondo cubra toda la pantalla */
            background-position: center; /* Para centrar la imagen de fondo */
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}  
    <div class="container">
        <h1>Reporte Mensual de Ventas</h1>
        <table class="table table-color my-5">
            <thead class="table-dark">
                <tr>
                    <th>Mes</th>
                    <th>Ventas</th>
                </tr>
            </thead>
            <tbody>
                {% for venta in ventas %}
                <tr>
                    <td>{{ venta[0] }}</td>
                    <td>${{ venta[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td>${{ ventas | sum(attribute=1) }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="btn-atras">
        <a href="/informes_venta"><button class="btn btn-secondary btn-lg">Atrás</button></a>

    </div>
</body>
</html>
