<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Liria</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- Otros estilos personalizados aquí -->
</head>
<body>
    <nav class="navbar navbar-dark overcast-color">
        <div class="container d-flex align-items-center">
            <a class="navbar-brand" href="/">
                <img src="/static/images/logo.webp" width="32" height="32" class="d-inline-block align-top" alt="Icono de Tienda Liria">
                Tienda Liria
            </a>
        </div>
    </nav> 
       
</body>
</html>
