<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tienda Liria - Clientes Deudores</title>
  <link rel="stylesheet" href="static/css/proveedores.css">
</head>
<body>
  <header>
    <nav>
      <a href="/" class="logo">Tienda Liria</a>
      <form action="#">
        <input type="text" placeholder="Buscar proveedor" id="search-input">
        <button type="submit"><i class="fas fa-search"></i></button>
      </form>
    </nav>
  </header>

  <main>
    <section class="table-section">
      <h2>Proveedores</h2>
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>direccion</th>
            <th>disponibilidad</th>
            <th>modificar</th>
          </tr>
        </thead>
        <tbody id="table-body">
          <tr>
            <td>Frutiño</td>
            <td>3172897737</td>
            <td>Bogota</td>
            <td>si</td>
            <td><a href=""><button class="abonar">Eliminar</button></a></td> </tr>
            
          </tbody>
      </table>
    </section>
  </main>

  <script src="script.js"></script>
</body>
</html>